@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');


/* containers */

* {
    --app-primary-color: #263238;
    --app-primary-light-color: #37474F;
    --app-secondary-color: #fff;
    font-family: "Lato"
}

body {
    background: var(--app-primary-color);
    color: var(--app-secondary-color);
    margin: 0;
}


.fix-space {
    position: fixed;
    width: 400vw;
    height: 400vh;
    top: 50%;
    left: 50%;
    margin-top: -200vh;
    margin-left: -200vw;
    -webkit-animation: rotate 200s linear infinite;
    animation: rotate 200s linear infinite;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNDAgMjQwIj48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTA2IDkwaDJ2MmgtMnpNNzQgNjNoMXYxaC0xek0yMyA2NmgxdjFoLTF6TTUwIDExMGgxdjFoLTF6TTYzIDEyOGgxdjFoLTF6TTQ1IDE0OWgxdjFoLTF6TTkyIDE1MWgxdjFoLTF6TTU4IDhoMXYxaC0xek0xNDcgMzNoMnYyaC0yek05MSA0M2gxdjFoLTF6TTE2OSAyOWgxdjFoLTF6TTE4MiAxOWgxdjFoLTF6TTE2MSA1OWgxdjFoLTF6TTEzOCA5NWgxdjFoLTF6TTE5OSA3MWgzdjNoLTN6TTIxMyAxNTNoMnYyaC0yek0xMjggMTYzaDF2MWgtMXpNMjA1IDE3NGgxdjFoLTF6TTE1MiAyMDBoMXYxaC0xek01MiAyMTFoMnYyaC0yek0wIDE5MWgxdjFIMHpNMTEwIDE4NGgxdjFoLTF6Ii8+PC9zdmc+);
    background-size: 240px;
    opacity: 0.5;
    z-index: 4;
}

main {
    position: relative;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    display: flex;
    z-index: 2;
}

.building {
    background: url('../img/building.jpg');
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
    position: fixed;
    width: 300vw;
    height: 300vh;
    top: 50%;
    left: 50%;
    margin-top: -200vh;
    margin-left: -200vw;
    -webkit-animation: rotate 100s linear infinite;
    animation: rotate 100s linear infinite;
}


/* general styles */

.w50 {
    width: 50%;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center-v {
    align-items: center;
}

.center-h {
    justify-content: center;
}

.disabled {
    opacity: 0.5;
}

.space-between {
    justify-content: space-between;
}

.start {
    justify-content: flex-start;
}


/* custom styles */

.logo {
    width: 150px;
    height: 150px;
    object-fit: scale-down;
}

.title {
    font-size: 3em;
    font-weight: 900;
}

.description {
    font-weight: normal;
    font-size: 24px;
    margin-top: -20px;;
    margin-left: 130px;
}

.app-links-container > *{
    margin-right: 10px;
    margin-top: 10px;
}

.preview {
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview img {
    width: 300px;
    object-fit: scale-down;
}

.btn-link {
    text-decoration: none;
    color: white;
    background:var(--app-primary-light-color);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 4;
}

.btn-link:hover {
    box-shadow: -3px 3px 1px 3px rgba(0,0,0,0.1);
}

.btn-link * {
    margin: 0 5px;
    font-size: 18px;
}


/* queries and animations */

@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}

@media (max-width: 1000px) {
    
    main {
        flex-wrap: wrap;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    .summary {
        width: 100%;
        height: auto;
        padding: 30px;
        box-sizing: border-box;
        font-size: 14px;
    }
    
    .summary  > div{
        width: 100% !important;
        justify-content: center;
    }

    .description {
        margin-left: 0;
        justify-content: center;
        text-align: center;
    }

    .app-links-container {
        justify-content: center;
    }

    .btn-link {
        padding: 10px 10px;
    }

    .btn-link span{
        font-size: 14px !important;
    }

    .preview {
        width: 100%;
        justify-content: center;
    }

}