@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');


/* containers */

* {
    --app-primary-color: #405661;
    --app-secondary-color: #fff;
    font-family: "Lato"
}

body {
    background: var(--app-primary-color);
    color: var(--app-secondary-color);
    margin: 0;
}

.fix-space {
    position: fixed;
    width: 400vw;
    height: 400vh;
    top: 50%;
    left: 50%;
    margin-top: -200vh;
    margin-left: -200vw;
    -webkit-animation: rotate 200s linear infinite;
    animation: rotate 200s linear infinite;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNDAgMjQwIj48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTA2IDkwaDJ2MmgtMnpNNzQgNjNoMXYxaC0xek0yMyA2NmgxdjFoLTF6TTUwIDExMGgxdjFoLTF6TTYzIDEyOGgxdjFoLTF6TTQ1IDE0OWgxdjFoLTF6TTkyIDE1MWgxdjFoLTF6TTU4IDhoMXYxaC0xek0xNDcgMzNoMnYyaC0yek05MSA0M2gxdjFoLTF6TTE2OSAyOWgxdjFoLTF6TTE4MiAxOWgxdjFoLTF6TTE2MSA1OWgxdjFoLTF6TTEzOCA5NWgxdjFoLTF6TTE5OSA3MWgzdjNoLTN6TTIxMyAxNTNoMnYyaC0yek0xMjggMTYzaDF2MWgtMXpNMjA1IDE3NGgxdjFoLTF6TTE1MiAyMDBoMXYxaC0xek01MiAyMTFoMnYyaC0yek0wIDE5MWgxdjFIMHpNMTEwIDE4NGgxdjFoLTF6Ii8+PC9zdmc+);
    background-size: 240px;
    opacity: 0.5;
}

main {
    height: 100vh;
    min-height: 100vh;
    margin: 0;
}


/* general styles */

.w50 {
    width: 50%;
}

.h100 {
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center-v {
    align-items: center;
}

.center-h {
    justify-content: center;
}


/* custom styles */

.logo {
    width: 200px;
    height: 200px;
    object-fit: scale-down;
}

.title {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
}


/* queries and animations */

@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}